* {
    margin: 0;
    padding: 0;
    h1, p {color: white; padding: 0 0 5px 0;}
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #1184F9;
    background: -webkit-linear-gradient(top left, #1184F9, #462739);
    background: -moz-linear-gradient(top left, #1184F9, #462739);
    background: linear-gradient(to bottom right, #1184F9, #462739);
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {margin: 10px 0;}
    input, textarea, select, button {
        padding: 5px;
        width: 25vw;
        height: 4vh;
        border-radius: 7px;
        border-width: 0;
    }
    textarea {height: 10vh;}
    button {
        background-color: white;
    }

}

.form {
    width: 40vw;
    h1 {text-align: center;}
    &__file {color:white}
}